<% @posts.each do |post| %>
title: <%=post.title%> <a href="/modify/<%=post.id%>"> Edit </a> <br>
content: <%=post.content%> <a href="/delete/<%=post.id%>"> Delete </a> <hr>
<% end %>
<br>
<a href="/write"> go to writiting </a>