<form action="/update/<%=@post.id%>" method="post">
	title : <input type="text" name="title" value="<%=@post.title%>"/> <br>
	content : <input type="text" name="content" value="<%=@post.content%>"/> 
	<input type="submit"/>
</form>
<a href="/index"> back to page </a>