<form action="/create" method="post">
	title : <input type="text" name="title"/> <br>
	content : <input type="text" name="content"/> 
	<input type="submit"/>
</form>
<a href="/index"> back to page </a>